* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-header {
    background: #1572A1;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 28px;
    font-weight: bold;
}

.main-content {
    width: 85%;
    margin: 30px auto;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.add-btn {
    background: green;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th {
    background: #1572A1;
    color: white;
    padding: 12px;
}

.table td {
    padding: 12px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.table-profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.dept-chip {
    background: #e0f3ff;
    padding: 5px 10px;
    margin: 3px;
    border-radius: 12px;
    display: inline-block;
}

.btn-small {
    padding: 5px 10px;
    margin: 3px;
    border-radius: 6px;
    border: none;
    background: #1572A1;
    color: white;
}

.btn-small.delete {
    background: red;
}

.form-container {
    width: 70%;
    margin: 30px auto;
    padding: 25px;
    background: #f6f6f6;
    border-radius: 10px;
}

.form-header {
    font-size: 22px;
    text-align: center;
    margin-bottom: 15px;
}

.form-row {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.profile-pics img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.date-row {
    display: flex;
    gap: 10px;
    align-items: center;
}

textarea, input, select {
    padding: 8px;
    font-size: 15px;
}

.btn {
    padding: 8px 15px;
    border: none;
    border-radius: 10px;
    background: #1572A1;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.error {
    color: red;
    font-size: 14px;
}

label{
    margin-top: 20px;
}
input,img{
    margin-top :20px;
}