* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-header {
    background: #3591b0;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 28px;
    font-weight: bold;
}


.form-container {
    width: 80%;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
    background: #f8f8f8;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-header {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

.form-row {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label{
    width: 40%;
    font-size: 18px;
}
input {
    margin: 10px;
    padding: 8px;
    font-size: 16px;

}

.pfl{
    margin-right: 50px;
}

.gnd{
    margin-right: 243px;
}

.dept{
    margin-right: 150px;
}
.profile-pics {
    display: flex;
    gap: 15px;
}
.profile-pics img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

#buttons{
    margin-top:20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

button{
    padding: 7px;
    width: 100px;
    background-color: rgb(12, 174, 174);
    font-size: 18px;
    color: white;
    border: 0px;
    border-radius: 10px;
}



select{
    margin-left: 30px;
}


.home-container {
    width: 80%;
    margin: 30px auto;
    background: #f8f8f8;
    padding: 25px;
    border-radius: 10px;
}

.home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-btn {
    background: #2e8bc0;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}


.emp-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.emp-table th, .emp-table td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.table-profile {
    width: 50px;
    border-radius: 50%;
}

.dept-chip {
    background: #b8e1ff;
    display: inline-block;
    padding: 4px 8px;
    border-radius: 6px;
    margin: 2px;
}

.btn-small {
    padding: 5px 10px;
    border: none;
    background: #00a8cc;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.btn-small.delete {
    background: #e74c3c;
}
